<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="clientId" value="0d83a268-160d-4180-87d1-a7d37f5d773c"/>
    <add key="clientSecret" value="d6NHwCSWma2ZWyfF7NA2Vt2aYzGx2/XgY1l7KTsjQRQ="/>
    <!--<add key="clientId" value="755a86d9-4ff4-479f-8055-fe441edf4f0a"/>
    <add key="clientSecret" value="T8+CGbyj6WP+9DX7eDR9Vs/DweYzt+jFcVC5VyU2CC4="/>-->

    <!--<add key="clientId" value="04f6e856-8875-419a-9cb6-8b09d972b572" />
    <add key="clientSecret" value="1dxwmd+Eq+gLa4Hqao4es1asK/Erc/cQrmKRvSr1KMY=" />-->
    <add key="siteUrl" value="https://kier.SharePoint.com/sites/talent" />
    <add key="listName" value="Talent Review Records" />
    <add key="businessUnitsList" value="Business Units" />
    <add key="businessFunctionsList" value="Business Functions" />
    <add key="GradesList" value="Grades" />

    <!--<add key="clientId" value="04f6e856-8875-419a-9cb6-8b09d972b572" />
    <add key="clientSecret" value="1dxwmd+Eq+gLa4Hqao4es1asK/Erc/cQrmKRvSr1KMY=" />
    <add key="siteUrl" value="https://maksharepoint.sharepoint.com/sites/Provisioing_Spike" />
    <add key="listName" value="Talent Review Database" />
    <add key="businessUnitsList" value="Business Units" />
    <add key="businessFunctionsList" value="Business Functions" />
    <add key="GradesList" value="Grades" />-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>